
<div class="hypervisual__content-block hypervisual__content-block--columns hypervisual__content-block--column-two-up hypervisual__column_stacking_normal  " style="background-color: #fffcf6;" id="">
	<div class="hypervisual__columns-wrapper" style="">
		<div style="background-color: transparent;" class="earn-reward-content-wrap hypervisual__content-block hypervisual__content-block--image  hypervisual__column hypervisual__column_width_50 hypervisual__column1-block hypervisual__image-valign-top hypervisual__image-align-center " id="">
  			<img src="https://cdn.gethypervisual.com/images/shopify/b8937442-495d-4cc1-b048-1bdbc51cd199/w1200_eb34_img.png" alt="" title="" style="" data-action="">
		</div>
        <div style="color: #333333; background-color: #fffcf6; text-align: left;" class="earn-reward-content-wrap hypervisual__content-block hypervisual__content-block--text  hypervisual__column hypervisual__column_width_50 hypervisual__column2-block hypervisual__text-middle hypervisual__text-align-left " id="">
            <div class="hypervisual__text-wrapper" style=" padding-top: 50px; padding-bottom: 50px;">
                <h1 class="hypervisual__text_line_one hypervisual__text-xlarge" style="color: #333333;"><div>Earn Exclusive Rewards</div></h1>
                <div class="hypervisual__text_line_two hypervisual__text-medium" style="color: #333333;">
                  <div>At Nacach, we love our loyal customers. Earn beads for actions and redeem for discounts. Join our Nacach Rewards for free today to begin collecting and redeeming your Beads.</div>
                </div>
                <a class="hypervisual__button hypervisual__text-button hypervisual__text-medium" style="color: #FFFFFF; background-color: #e22f6b;" href="#smile-home">Register Now</a>
            </div>
        </div>
	</div>
</div>

<link rel="stylesheet" href="https://cdn.gethypervisual.com/assets/hypervisual.css">

{% schema %}
  {
    "name": "Earn Rewards Program",
    "settings": [],
     "presets": [
        {
          "name": "Earn Rewards Program",
           "category": "3) Builder"
          
        }
  	]
  }
{% endschema %}