<main class="main-content">
	<div class="container main_container">
        <div class="thankyou-for-registering" >
          <img src="{{ 'vectorpaint.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo"> 
          <h1>Thank you for Registering.</h1>
          <p>Please check your email for your account activation link.</p>
          <a href="/collections/all">Back to Shop</a>
        </div>
    </div>
</main>



<style>
  
.thankyou-for-registering{
	text-align:center;
    margin: 125px 0;
}
  
.thankyou-for-registering img{
	max-width:10%;
}  
  
.thankyou-for-registering  h1{
    color: #E21B4C;
    font-size: 45px;
    font-weight: bold;
    text-transform: initial;
    line-height: normal;
    margin: 0 0 25px;
    outline: none;
    text-align: center;  
  
}
  
.thankyou-for-registering  p{
    font-weight:600;  
}   
  

.thankyou-for-registering  a{
    text-decoration:underline;  
}
  
</style>  

