

<div class="first-section">
  <img class="d-none lg" width="200" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/nac-logo.png?v=1594916085" alt="logo">
  <div class="text-wrapper">
    <h1 class="heading">Nacach’s Summer <span>Giveaway</span></h1>
<!--     <p class="description">Win Nacach’s signature Hypoallergenic Pomegranate Hard Wax and Post Care Pomegranate Oil!</p> -->
    <p class="description">Win Nacach’s signature Perlage Soft Wax and Ocean Blue Premium Soft Wax!</p>    
  </div>
  
  <div class="images-wrapper">
  	<img class="logo-img" width="200" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/nac-logo.png?v=1594916085" alt="logo">
    <img class="qualify-criteria-img" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/date-24th.png?v=1597761167" alt="quality-criteria">
  </div>

</div>



<div class="second-section">
  <div class="product-img-wrapper d-none">
  	<div class="overlay-wrap">
  		<img class="img-one" width="500" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/perlage.png?v=1597262334" alt="product-img">
    	<img class="img-two" width="500" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/ocean-blue.png?v=1597262346" alt="product-img">
    </div>
  </div>
  <div class="form-wrapper">
    <h1 class="heading">Fill Out The Form To Enter</h1>
    <div class="klaviyo-form-wrap">
    	<div class="klaviyo-form-UMhh2Q"></div>
    </div>  
  </div>
  <div class="product-img-wrapper">
    <div class="overlay-wrap">
  		<img class="img-one" width="500" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/perlage.png?v=1597262334" alt="product-img">
    	<img class="img-two" width="500" src="https://cdn.shopify.com/s/files/1/0315/1131/4570/files/ocean-blue.png?v=1597262346" alt="product-img">
    </div>
  </div>

</div>

<div class="footer-wrap">
  <p class="text-wrap">Make sure you also check out our website and follow us on social media!</p>
  <div class="footer-icon-share">
            
    <a href="https://www.facebook.com/NacachWax" target="_blank">
      <i class="cs-font clever-icon-facebook"></i>
    </a>
    
    <a href="https://www.pinterest.com/nacachwax/" target="_blank">
      <i class="cs-font clever-icon-pinterest"></i>
    </a>
    
    <a href="https://www.instagram.com/nacachwax/" target="_blank">
      <i class="cs-font clever-icon-instagram"></i>
    </a>

</div>
</div>



<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

<style>
  
  .d-none{
  	display:none;
  }
  
  .container{
  	max-width: initial;
    padding: initial;
  }
  
  .header-wrapper{
  	display:none;
  }
  .breadcrumb-wrap{
  	display:none;
  }
  
  #shopify-section-footer{
    display: none;
  }
  
  .first-section{
    background-image:url(https://cdn.shopify.com/s/files/1/0315/1131/4570/files/first-sec-back.png?v=1594915606);
    height: 710px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display:flex;
    padding:100px;
  }
  
  .first-section .text-wrapper{
    width:50%; 
  }
  .first-section .images-wrapper{
    width:50%;
    text-align:right;
  }
  
  .first-section .images-wrapper .logo-img{
  	margin-bottom:60px;
  }
  
  .first-section .heading{
  	font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 108px;
  }
  .first-section .description{
  	font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
  }
  
  .first-section .heading span{
  	color:#E21A4C;
  }
  
  .second-section{
    background-image:url(https://cdn.shopify.com/s/files/1/0315/1131/4570/files/second-sec-back.png?v=1594915621);
    height: 1180px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display:flex;
    padding: 200px 100px 100px;
  }
  
  .second-section .form-wrapper{
  	width:50%;
    background-color: #F3BDA0;
    padding:60px;
    height: fit-content;
  }
  
  .second-section .product-img-wrapper{
  	width:50%;
    text-align:right;
  }
  
  .second-section .form-wrapper .heading{
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
  }
  .second-section .product-img-wrapper .overlay-wrap{
  	position:relative;
  }
  .second-section .product-img-wrapper .overlay-wrap .img-two{
  	position: absolute;
    top: 50%;
    left: 0;
  }
  
  .klaviyo-form-wrap input{
  	border: initial !important;
    border-radius: initial !important;
  }
  
  .klaviyo-form-wrap div.needsclick{
  	border: initial;
    border-radius: initial;
  }
  .klaviyo-form-wrap div.needsclick svg{
  	fill:#E21B4D;
  }
  
  .klaviyo-form-wrap button.needsclick{
  	font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
  }
  
  .klaviyo-form-wrap label{
  	font-family: 'Source Sans Pro', sans-serif !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 32px;
    display:flex;
  }
  .klaviyo-form-wrap label:after { 
    content:"  *"; 
    color: #E21B4D;
    align-self: center;
  }

  .footer-wrap{
  	background-color: #F3BDA0;
    text-align:center;
    padding: 34px 10px;
  }
  
  .footer-wrap .text-wrap{
  	color: #35312A;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 0 10px 10px;
  }
  
  .footer-wrap .footer-icon-share a{
  	display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 22px;
    height: 40px;
    width: 40px;
    line-height: 44px;
    border: 1px solid #35312A;
    margin: 0 3px;
    color: #fff !important;
    background: #35312A;
  }
  
  .footer-wrap .footer-icon-share a:hover{
    background: initial;
  }
  
/* Media Queries*/  
  
  @media screen and (min-width:1600px){
    
      .first-section .images-wrapper {
          width: 45%;
      }
      .second-section .product-img-wrapper .overlay-wrap .img-two {
          left: 10%;
      }
  }
  
  @media screen and (min-width:1300px){
    
      .first-section .images-wrapper {
          width: 39%;
      }
  }
  
  @media(max-width:1050px){
    
    .first-section{
    	display:block;
        height:auto;
        background-position: right;
    }
    .first-section img.lg{
    	display:block !important;
      	margin: auto;
    	width: 250px;
    }
    
    .first-section .logo-img{
    	display:none;
    }
    
    .first-section .text-wrapper {
        width: 100%;
        text-align: center;
        margin-top: 5%;
    	margin-bottom: 5%;
    }
    
    .first-section .images-wrapper {
        width: 100%; 
        text-align: center;
	}
    
    .second-section {
        display: block;
        height: auto;
    }
    
    .second-section .form-wrapper {
        width: 100%;
        text-align: center;
    }
    .second-section .product-img-wrapper {
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
    .second-section .product-img-wrapper .overlay-wrap .img-two{
    	position:relative;
    }
  }
  
  @media(max-width:480px){
    .first-section{
    	padding: 10px;
    }
  	.first-section .heading {
      	font-size: 64px;
    	line-height: 84px;
    }
    
    .qualify-criteria-img{
    	margin-bottom:10%;
    }
    
    .second-section{
    	padding:10px;
      	background-position: right;
    }
    
    .product-img-wrapper.d-none{
    	display:block !important;
/*       	margin-bottom: 10%; */
        margin-bottom: 30%;
    }
    .product-img-wrapper{
    	display:none;
    }
    .second-section .product-img-wrapper .overlay-wrap img {
        max-width: 200px;
    }
    .second-section .product-img-wrapper .overlay-wrap .img-two{
    	position:absolute;
    }
    

  }
  

</style>